body {
  background-image:url(https://thumbs.dreamstime.com/b/green-tea-plantations-cameron-highlands-malaysia-landscape-65484876.jpg);
} 
.green {
  background:rgba(1, 50, 32, 0.75);
  border-top: 6px solid rgba(0, 89, 56, 0.5);
  border-bottom: 6px solid rgba(1, 33, 21, 0.5);
  border-left: 6px solid rgba(0, 89, 56, 0.5);
  border-right: 6px solid rgba(1, 33, 21, 0.5);
  color: white;
  padding: 20px;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 5px;
}
h1, h2, p {
  font-family: Trebuchet MS,Georgia,Arial,serif;
}
