.green {
  background-color: darkgreen;
  color: white;
  border-radius: 15px;
  padding: 20px;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 10px;
}
h1, h2, p {
  font-family: Trebuchet MS,Georgia,Arial,serif;
}
